*,html,body
{
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

body 
{
	height: 2000px;
	font-family: Arial, Helvetica, sans-serif;
}

header .carousel-inner .item 
{
	height: 100vh;
}

header ul li a
{
	color:black;
	padding-right: 15px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.055em;
	transition: all 0.5s ease;
}

.navbar-inverse .navbar-brand 
{	
	height: 112px;
	line-height: 112px;	
	position: fixed;
	z-index: 1;
}

.navbar-inverse  
{

	background-color: transparent !important;
	border-color: transparent !important;
}

.secondary 
{
	background-color: white;
	box-shadow: 0px 0px 17px 0px;
	transition: all 0.6s ease-in;
}

.secondary
{
	color: #1E1D1D;
}

.secondary a:hover
{
	color: #818181;
}

.logo
{
	margin: 7px 0px 7px;
	width: 180px;
	height: 100px;
}

.img1
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(..//images/slider1.jpg);
	background-size: 100%;
}

.img2
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(..//images/slider2.jpg);
	background-size: 100% 100%;
}

.img3
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(..//images/slider3.jpg);
    background-size: 100% 100%;

}


.nav .navbar-nav .navbar-right 
{
	margin:25px 0;

}

.navbar-inverse .navbar-nav > li > a 
{
	color: white!important;
	margin-top: 25px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover
{
	color: #D8D8D8!important;

}


.banner
{
	-webkit-background-size:cover;
	background-size:center center;
	background-repeat: no-repeat;
	height: 100vh;
}


.carousel-caption
{
	padding-bottom: 150px !important;
	text-align: center;
}

.carousel-caption h2 
{
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 45px;
	color: #D8D8D8;
	margin-top: 220px;
    letter-spacing: 0.025em;
}

.carousel-caption h2 span 
{
	color: white;
}

.carousel-caption p
{
	color: white;
	padding: 10px;
	font-size: 17px;
	font-style: italic;
	letter-spacing: 0.05em;
}

.carousel-caption a.btn-half
{
	margin: 20px 10px;
	color: white;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	border: 2px solid white;

}

.carousel-caption a.btn-half:hover
{
	background-color: #0B0B3B;
	transition: 0.3s ease-in;
}

.carousel-caption a.btn-full
{
	margin: 20px 10px;
	color: white;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	border: 2px solid white;
}

.carousel-caption a.btn-full:hover
{
	background-color: #0B0B3B;
	transition: 0.3s ease-in;
}

.carousel-control.right 
{
	background-image: none;
}

.carousel-control.left 
{
	background-image: none;
}

.carousel-indicators .active
{
    padding:4px;
	margin: 4px;
	background-color: white;
	border-color: white;
}



.intro-area
{
	position: relative;
	padding: 100px 0px;
	background-color: white;
	text-align: center;
}

.intro-area h2
{
	color: #1E1D1D;
	font-weight: bold;
	margin-top: -20px;
	letter-spacing: 0.025em;

}

.sub-heading
{
	position: relative;
	margin-bottom: 75px;	

}

.sub-heading p
{
	text-transform: uppercase;
	color: #1E1D1D;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	padding: 0px 0px;
	position: relative;
	line-height: 24px;
	letter-spacing: 0.025em;
}

.intro-block
{
	position: relative;
	margin: 25px 0px 0px;
	text-align: center;
	padding: 40px 35px 50px;
	letter-spacing: 0.025em;
	border-radius: 15px;

}

.intro-block .intro-icon
{
	position: absolute;
	top: -31px;
	left: 50%;
}

.intro-block .fas
{
	width: 63px;
	height: 63px;
	margin-left: -32.5px;
	font-size: 30px;
	line-height: 2;
	color: #0B0B3B;
	background: #D8D8D8;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px #0B0B3B;
}

.intro-block h3 
{
	font-size: 20px;
	color: #0B0B3B;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.intro-block p
{
	color: #818181;
	font-size: 17px;
	padding: 8px;
    letter-spacing: 0.025em;
    font-style: italic;
    margin-top: 15px;
}


.intro-block a.btn-half
{
	background-color: white;
	margin-top: -5px;
	color: #1E1D1D;
	font-weight: bold;
	letter-spacing: 0.025em;
	border-radius: 20px;
	box-shadow: 0px 0px 15px 0px #BDBDBD;
	padding: 10px 30px;
	margin-bottom: 50px;
}

.intro-block a.btn-half:hover
{
	color:#0B0B3B;
	transition: 0.2s ease-in;
	box-shadow: 0px 0px 15px 0px #0B0B3B;
}


.carousel-inner1 img
{
	width: 300px;
	height: 300px;
	text-align: center;
    box-shadow: 0px 0px 10px 0px #BDBDBD;
    margin-left: 21%;
    margin-top: 15px;
}

.clients .carousel-indicators
{
	bottom: -50px;
}

.clients .carousel-indicators li
{
	background-color: #818181;
	border-color: #818181;
}

.carousel-inner img
{
	width: 310px;
	height: 310px;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maps
{
	width: 100%;
}

.map-frame {
    width: 100%;
    height: 350px;
    position: relative;
}


.maps .fas
{
	width: 63px;
	height: 63px;
	font-size: 30px;
	line-height: 2;
	color: #0B0B3B;
	background: #D8D8D8;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px #0B0B3B;
}

.maps h3 
{
	padding: 12px;
	font-size: 20px;
	color: #0B0B3B;
	font-weight: bold;
	letter-spacing: 0.025em;
}

.footers{
	color:#fff;
	background: #222222;
}









@media only screen and (min-width: 768px) and (max-width: 991px){
	.carousel-caption {
		padding-bottom: 350px;

	}
	.carousel-caption h2{
		font-size: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0,0,0,0.5);
	}
	.carousel-caption{
		padding-bottom: 120px;
	}
	.carousel-option h2 {
		font-size: 25px;
	}
	.carousel-option h3 {
		font-size:18px; 
	}
	.carousel-option a {
		padding:10px 25px;
	}
}