* {
	box-sizing: border-box;
}

body {
	font-family: 'Belleza', sans-serif;
}

/* Navbar */
nav {
	height: 105px;
	width: 100%;
}
nav.navbar {
	background: black;
	border: none;
	border-bottom: 4px solid white;
	box-shadow: 0px 0px 6px 0px #818181;
	position: relative;
	border-radius: 0;
}

.openBtn {
	text-decoration: none !important;
	position: absolute; 
	margin-top: 30px;
	font-size: 25px;
	letter-spacing: 0.08em;
	color: #eee;
	font-family: 'Belleza', sans-serif;
	text-transform: uppercase;
	left: 90%;
}
.openBtn:hover {
	color: pink;
}
img.navbar-brand {
	height: 140px;
	width: 280px;
	margin-top: -15px;
	position: absolute;
    left: 50%;
    margin-left: -140px !important;  /* 50% of logo width */
    display: block;
}
@media (max-width: 767px) {
	nav {
	height: 160px !important;
	width: 100%;
	}
	.openBtn {
	font-size: 18px;
	position: absolute;
    left: 43%;
    display: block;
    margin-top:100px;
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	nav {
	height: 160px !important;
	width: 100%;
	}
	.openBtn {
	font-size: 25px;
	position: absolute;
    left: 45%;
    display: block;
    margin-top:100px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {

	nav {
	height: 180px !important;
	width: 100%;
	}
	.openBtn {
	font-size: 25px;
	position: absolute;
    left: 45%;
    display: block;
    margin-top:120px;
	}
	img.navbar-brand {
	margin-top: 5px;
	}

}
@media (min-width: 1200px) { 

}
/* End Navbar */



/* Nav Overlay */
.overlay {
	position: fixed;
	bottom: 0;
	left: 0; /*appear from left*/
	width: 100%;
	height: 0%;
	background: rgba(0,0,0,.97);
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s;
}
.overlay__content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.overlay p, .overlay a {
	padding: 10px;
	color: #ccc;
	font-size: 18px;
	text-decoration: none;
	display: block;
}
.overlay p:hover, .overlay a:hover {
	color: #fff;
}
.overlay .closeBtn {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 50px;
	text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) { 
	.overlay .closeBtn {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 100px;
}
	.overlay p, .overlay a {
	padding: 10px;
	color: #ccc;
	font-size: 50px;
	text-decoration: none;
	display: block;
}
	}
@media (min-width: 992px) and (max-width: 1199px) {
	.overlay .closeBtn {
	position: absolute;
	top: 20px;
	right: 150px;
	font-size: 100px;
}
	.overlay p, .overlay a {
	padding: 10px;
	color: #ccc;
	font-size: 50px;
	text-decoration: none;
	display: block;
} 
}
@media (min-width: 1200px) { 

}
/* End navbar overlay */

